body{background-color: rgb(232,232,232);
          
      }

table, tr, td {border-style:solid;
          border-color:black;
    }
    
    table{text-align:center;
          margin:auto;
          
    }
    
    .LightCyan{background-color:LightCyan;
    }
    
    .red{background-color:rgb(232,0,0);
    }
    
    .green{background-color:#00FF00;
    }
    
    .purple{background-color:#FF0099;
    }
    
    .blue{background-color:#0000FF;
    }
    
    .gray{background-color:#686868;
    }
    
    .scholars{background-color:993333;
    }
    
    .lightblue{background-color:#00FFFF;
    }
    
    .midnightblue{background-color:#F0FFFF;
    }
