body{background-color: rgb(232,232,232);
          
      }

table, tr, td {border-style:solid;
          border-color:black;
    }
    
    table{text-align:center;
          margin:auto;
          
    }
    
    .LightCyan{background-color:LightCyan;
    }
    
    .red{background-color:rgb(232,0,0);
    }
    
    .green{background-color:#00FF00;
    }
    
    
